In [61]:
# Dependencies

from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
from selenium import webdriver

In [62]:
# Set up path for Browser

executable_path = {'executable_path': 'chromedriver.exe'}

# Add options to maximize screen on start up and disable notifications when browsing
options = webdriver.ChromeOptions()

options.add_argument("--start-maximized")

options.add_argument("--disable-notifications")

# Create Browser variable

browser = Browser('chrome', **executable_path, headless=False, options = options)

In [63]:
# Visit NASA website

url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [64]:
# Use beautiful soup to view the html
html = browser.html
soup = bs(html, 'html.parser')
# print(soup.prettify()) - commented out so as to not display entire html code.

## NASA Mars News

In [65]:
#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

news_title = browser.find_by_css('div[class="content_title"] a', wait_time=2).text

print(news_title)

Meet the People Behind NASA's Perseverance Rover

In [66]:
news_p = browser.find_by_css('div[class="article_teaser_body"]').text

print(news_p)

These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater.

## JPL Mars Space Images - Featured Image

In [67]:
# Vist JPL NASA site

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [68]:
# Use beautiful soup to view html code
html = browser.html
soup = bs(html, 'html.parser')
# print(soup.prettify())

In [69]:
# Click image to maximize
browser.find_by_id('full_image').click()

In [70]:
# Get featured image url
featured_image_url = browser.find_by_id('fancybox-lock').first.find_by_tag('img')['src']

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17440_ip.jpg

## Mars Weather

In [71]:
# Visit twitter
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [72]:
# Use beautiful soup to view text
html = browser.html
soup = bs(html, 'html.parser')
# print(soup.prettify())

In [73]:
# Scrape the latest Mars weather tweet from the page to get Mars Weather Data

mars_weather = browser.find_by_tag('article').find_by_css('span[class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"]')[4].text

print(mars_weather)

InSight sol 506 (2020-04-29) low -93.5ºC (-136.2ºF) high -3.7ºC (25.3ºF)
winds from the WNW at 4.5 m/s (10.1 mph) gusting to 15.6 m/s (34.8 mph)
pressure at 6.80 hPa

## Mars Facts

In [74]:
# Use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

url = "https://space-facts.com/mars/"

tables = pd.read_html(url)

In [75]:
df = tables[0]

df.columns = ['Description', 'Value']

df.head(20)

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [76]:
df.set_index('Description', inplace=True)

In [77]:
df.head(10)

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [78]:
# Set table to html
html_table_df = df.to_html()
html_table_df

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [79]:
# Drop line breaks
html_table = html_table_df.replace('\n', '') 
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [80]:
# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. 
# Use a Python dictionary to store the data using the keys img_url and title.

# Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [81]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [82]:
html = browser.html
soup = bs(html, 'html.parser')

In [83]:
# print(soup.prettify())

In [84]:
# Find Hemisphere title containing the hemisphere name.

title1 = browser.find_by_css('div[class="item"]')[0].find_by_tag('h3').text

title2 = browser.find_by_css('div[class="item"]')[1].find_by_tag('h3').text

title3 = browser.find_by_css('div[class="item"]')[2].find_by_tag('h3').text

title4 = browser.find_by_css('div[class="item"]')[3].find_by_tag('h3').text

print(title1)
print(title2)
print(title3)
print(title4)

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [85]:
# Begin browsing webpage using click and back browser functions.

link1 = browser.find_by_xpath('/html/body/div[1]/div[1]/div[2]/section/div/div[2]/div[1]/div/a/h3').click()

In [86]:
open1 = browser.find_by_xpath('/html/body/div[1]/div[1]/div[2]/a').click()

In [87]:
img1 = browser.find_by_css('div[class="downloads"]').find_by_tag('a')['href']

print(img1)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

In [88]:
back1 = browser.back()

In [89]:
link2 = browser.find_by_xpath('/html/body/div[1]/div[1]/div[2]/section/div/div[2]/div[2]/div/a/h3').click()

In [90]:
open2 = browser.find_by_xpath('/html/body/div[1]/div[1]/div[2]/a').click()

In [91]:
img2 = browser.find_by_css('div[class="downloads"]').find_by_tag('a')['href']
print(img2)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg

In [92]:
back2 = browser.back()

In [93]:
link3 = browser.find_by_xpath('/html/body/div[1]/div[1]/div[2]/section/div/div[2]/div[3]/div/a/h3').click()

In [94]:
open3 = browser.find_by_xpath('/html/body/div[1]/div[1]/div[2]/a').click()

In [95]:
img3 = browser.find_by_css('div[class="downloads"]').find_by_tag('a')['href']
print(img3)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg

In [96]:
back3 = browser.back()

In [97]:
link4 = browser.find_by_xpath('/html/body/div[1]/div[1]/div[2]/section/div/div[2]/div[4]/div/a/h3').click()

In [98]:
open4 = browser.find_by_xpath('/html/body/div[1]/div[1]/div[2]/a').click()

In [99]:
img4 = browser.find_by_css('div[class="downloads"]').find_by_tag('a')['href']
print(img4)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [100]:
# Create dictionary to hold output.

hemisphere_image_urls = [
    {"title": title1, "img_url": img1},
    {"title": title2, "img_url": img2},
    {"title": title3, "img_url": img3},
    {"title": title4, "img_url": img4}
     ]

     
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]